<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">


  <div class="row">
    <div class="col-md-12">
    </div>

    <h1>
    Welcome to {{ title }}!
  </h1>

    <h1>{{ title }}</h1>

  </div>
  <div class="map">

    <!-- this creates a google map on the page with the given lat/lng from -->
    <!-- the component as the initial center of the map: -->
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false" (mapClick)="mapClicked($event)" [panControl]="true" [usePanning]="true" [rotateControl]="true">

      // This is the polyline
      <agm-polyline [editable]="true">
        <agm-polyline-point *ngFor="let data of polyline" [latitude]="data.lat" [longitude]="data.lng">
        </agm-polyline-point>
      </agm-polyline>
      <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i)" [latitude]="m.lat" [longitude]="m.lng" [label]="m.label" [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)">

        <agm-info-window>
          <strong>{{m.label}}</strong>
          <br/>
          <button type="button" (click)="removeMarker(m)">DELETE</button>

        </agm-info-window>
      </agm-marker>
    </agm-map>

  </div>

</div>

<div class="row">

  <div class="col-md-6">

    <h2>
    Add the Points here and you see the pointer above.

    </h2>
  </div>
</div>

<div>

  <form #user_Form="ngForm" (ngSubmit)="addMarker(user_Form.value)" class="form-horizontal">

    <div class="form-group">
      <div class="col-sm-10">
        <label class="control-label col-sm-2">Latitude</label>
        <input type="text" class="form-control" name="markerLat" ngModel>

      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2">Longitude name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="markerLng" ngModel>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">submit</button>
      </div>
    </div>
  </form>

</div>
